

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1">Details </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>FirstName:- {{employeeList.FirstName}}</p>
        </div>
        <div class="col-md-4">
            <p>MiddleName:- {{employeeList.MiddleName}}</p>
        </div>

        <div class="col-md-3">
            <p>LastName:- {{employeeList.LastName}}</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>Age:- {{employeeList.age}}</p>
        </div>
        <div class="col-md-4">
            <p>Gender:- {{employeeList.gender}}</p>
        </div>

        <div class="col-md-3">
            <p>City:- {{employeeList.city}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <button mat-raised-button color="warn" (click) = "openDialog()">Delete</button>

        </div>
        <div class ="col-md-10">
            <button mat-raised-button color="primary" routerLink = "/employee">Return to Employee</button>
        </div>
    </div>

</div>