
<form #userForm="ngForm" (ngsubmit)="saveDetails(userForm)">
  <div class="container">

    <div class = "row">
      <div class = "col-md-1"></div>
      <div class= "col-md-11"><h1>Edit Employee</h1></div>
    </div>

      <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-3">
      <mat-form-field appearance="fill">
          <mat-label>FirstName</mat-label>
          <input matInput value = "{{employeeList.FirstName}}" [(ngModel)]="employeeList.FirstName" name="fname" #fname="ngModel">
        </mat-form-field>
      </div>

      <div class = "col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>MiddleName</mat-label>
          <input matInput value = "{{employeeList.MiddleName}}" [(ngModel)]= "employeeList.MiddleName" name="middle" #mname="ngModel">
        </mat-form-field>
      </div>
      
      <div class = "col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>LastName</mat-label>
          <input matInput value = "{{employeeList.LastName}}"  [(ngModel)]="employeeList.LastName" name="last" #lname ="ngModel">
        </mat-form-field>
      </div>
      </div>
    

      <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput value = "{{employeeList.age}}" [(ngModel)]="employeeList.age" name="age" #age ="ngModel">
        </mat-form-field>
      </div>
      
      <div class = "col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput value = "{{employeeList.gender}}" [(ngModel)]="employeeList.gender" name="gender" #gender = "ngModel">
        </mat-form-field>
      </div>

      <div class = "col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input matInput value = "{{employeeList.city}}" [(ngModel)]="employeeList.city" name="city" #city = "ngModel">
        </mat-form-field>
      </div>
      </div>
        <div class = "row">
        <div class = "col-md-1"></div>  
        <div class = "col-md-1">
        <button mat-raised-button color="accent" (click) = "openDialog()">Update</button>
      </div>
      <div class = "col-md-10">
        <button mat-raised-button color="primary" routerLink = "/employee">Return to Employee</button>
      </div>
    </div>
    </div>
    
  </form>



