
<div class = "row">
  <div class = "col-md-1"></div>
  <div class = "col-md-2">
    <h1 style="margin-top:30px;">Product Data</h1>
  </div>
  <div class ="col-md-8 " style="margin-top:40px;">
    <a  [routerLink] = "['/product/create']">Create</a>
  </div>
</div>

<div class = "row">
  <div class = "col-md-1"></div>
  <div class = "col-md-11">
    <table mat-table [dataSource]="productList" class="mat-elevation-z8">

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"><img src={{element.image}} width="20px" height="20px"></td>
      </ng-container>
        
        <ng-container matColumnDef="productname">
          <th mat-header-cell *matHeaderCellDef> productname </th>
          <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
        </ng-container>
      
      
     
    
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
    
        
    
    
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button class = "view" (click) = "viewpage(element)">View</button><button mat-raised-button color="primary" (click) = "editpage(element)">Edit</button></td>
        </ng-container>
    
       
    
        
      
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</div>
