<mat-card>
    <mat-card-title>Here are the Details of {{firstName}}</mat-card-title>
    <mat-card-content>FirstName:- {{firstName}}</mat-card-content>
<p>MiddleName:- {{employeeList[0].MiddleName}}</p>
<p>LastName:- {{employeeList[0].LastName}}</p>
<p>Age:- {{employeeList[0].age}}</p>
<p>Gender:- {{employeeList[0].gender}}</p>

<mat-card-actions><button mat-raised-button color="primary" routerLink = "/employee">Return To Employee List</button></mat-card-actions></mat-card>

<!-- <div class="container" id="container">
    <mat-card-title class="text">Here are the Details of {{firstName}}</mat-card-title>>
    <p class="text">FirstName:- {{firstName}}</p>
    <p class="text">MiddleName:- {{employeeList[0].MiddleName}}</p>
    <p class="text">LastName:- {{employeeList[0].LastName}}</p>
    <p class="text">Age:- {{employeeList[0].age}}</p>
    <p class="text">Gender:- {{employeeList[0].gender}}</p>

</div> -->
