<!-- <form>
    <label>FirstName</label>
    <input type = "text" name = "fname" value = "{{firstName}}"><br><br>

    <label>MiddleName</label>
    <input type = "text" name = "mname" value = "{{employeeList[0].MiddleName}}"><br><br>
    <label>LastName</label>
    <input type = "text" name = "lname" value = "{{employeeList[0].LastName}}"><br><br>
    <label>Age</label>
    <input type = "text" name = "age" value = "{{employeeList[0].age}}"><br><br>

    <label>Gender</label>
    <input type = "text" name = "gender" value = "{{employeeList[0].gender}}"><br><br>
</form> -->


<div style="margin-left: 40%; margin-top: 2%;">
<mat-form-field appearance="fill">
    <mat-label>FirstName</mat-label>
    <input matInput value = "{{firstName}}">
  </mat-form-field><br>

  <mat-form-field appearance="fill">
    <mat-label>MiddleName</mat-label>
    <input matInput value = "{{employeeList[0].MiddleName}}">
  </mat-form-field><br>

  <mat-form-field appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput value = "{{employeeList[0].LastName}}">
  </mat-form-field><br>

  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput value = "{{employeeList[0].age}}">
  </mat-form-field><br>

  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <input matInput value = "{{employeeList[0].gender}}">
  </mat-form-field><br>
</div>

  <div style= "margin-left: 40%;">
  <button mat-raised-button color="primary" (click) = "openDialog()">Update</button>
  <button mat-raised-button color="warn" routerLink = "/employee">Return to Employee</button>
</div>